@use "/components/styles/modules/colors";

.button {
  color: colors.$pureWhite;
  border-radius: 0;
  line-height: 2;
  padding: 5px 3rem;
  background-color: colors.$pureBlack;
  border: 0;
  cursor: pointer;
}

.button__disabled, .button:disabled {
  background-color: colors.$pureWhite;
  color: colors.$pureBlack;
  cursor: default;
}
