<header>
  {{{topBar}}}
</header>

<section class="messages_container">
  <div class="messages">
    {{#if messages}}
    {{{messages}}}
    {{else}}
    no messages
    {{/if}}
  </div>

{{{sendBar}}}
</section>
