{{#>threadsLayout}}
  <section class="rightPanel_content threadList__active">
    <header>
      {{#> topBar contextButton=true }}
        {{>iconButton_back}}
        {{>avatarThread}}
        <h1>&lt;Thread title&gt;</h1>
      {{/topBar}}
    </header>

    <section class="messages_container">
      <div class="messages">
        {{#each messages}}
          {{> message }}
        {{/each}}
      </div>

    {{> sendBar hell="WWW"}}
    </section>
  </section>
{{/threadsLayout}}
