.iconButton {
  border: none;
  padding: 0;
  margin: 0;
  background-color: inherit;
  cursor: pointer;
  transition: transform 0.2s ease-in;

  &:hover {
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(0);
  }

  .iconButton_icon {
    display: block;
    height: 2rem;
    width: auto;
  }
}

.button__disabled,
.button_submit[disabled] {
  filter: blur(1px) opacity(60%);
  cursor: default;
}
