{{#>threadsLayout}}
<div class="rightPanel_content threadList__active">

  <div class="profile">
    {{#> topBar backButton=true exitButton=true passwordChangeButton=true editButton=true}}
      <h2 class="topBar_heading">{{topBarHeading}}</h2>
    {{/topBar}}

    <div class="avatarContainer">
      {{>avatarProfile}}
    </div>

    <h3 class="heading_login">&lt;Login&gt;</h3>

    <div class="inputsContainer">
      <form>
        {{> @partial-block }}
      </form>
    </div>

    {{> button buttonClass=saveButtonClasses buttonText="Save" }}
  </div>

</div>
{{/threadsLayout}}
