@use "/components/styles/modules/leftPanelLayout";
$buttonSaveWidth: 15rem;
$inputsContainerWidth: 35rem;

.profileEditPage,
.passwordChangePage {
  .profile {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;

    .hidden {
      display: none;
    }

    .topBar {
      margin-bottom: 2rem;
      .topBar_heading {
        font-weight: 700;
        margin-right: auto;
      }
    }

    .avatarContainer {
      text-align: center;
      margin-bottom: 1rem;
    }

    .avatar_profile {
      height: 8rem;
      width: auto;
    }

    .heading_login {
      width: 100%;
      text-align: center;
      font-weight: 700;
      margin-bottom: 2rem;
    }

    .inputsContainer {
      flex-grow: 1;
      overflow-y: auto;
      &_edit {
        padding-bottom: 4rem;
      }
    }

    .inputText {
      width: 100%;
      padding: 0 1.5rem;
      margin-bottom: 2rem;
    }

    .button_save {
      position: fixed;
      bottom: 2.5rem;
      width: $buttonSaveWidth;
      left: calc(50vw - $buttonSaveWidth / 2);
    }
  }

  .leftPanel_container {
    display: none;
  }
}
@media screen and (min-width: leftPanelLayout.$desktopThreshold) {
  .profileEditPage,
  .passwordChangePage {
    .rightPanel_content {
      .button_save {
        left: calc(
          50vw + leftPanelLayout.$leftPanel_desktopWidth / 2 - $buttonSaveWidth /
            2
        );
        bottom: 2rem;
      }

      .inputsContainer {
        width: $inputsContainerWidth;
        margin: 0 auto;
      }
    }

    .leftPanel_container {
      display: flex;
    }
  }
}
