<div class="threadListItem {{#if threadActive}}threadListItem_active{{/if}}">
  {{> avatar }}

  <div class="threadListItem_preview">
    <div class="threadListItem_preview_title">{{threadTitle}}</div>
    <div class="threadListItem_preview_message">{{threadPreview}}</div>
  </div>
</div>
