
  <section class="threadManage">
    <header>
      {{{TopBar}}}
    </header>

    <article class="members_container">
      <header>
        <h2 class="heading">Thread members</h2>

        <div class="searchContainer">
          {{{InputFindUser}}}
        </div>
      </header>

      <section class="threadMembersContainer">
        <ul class="threadMembersList">
          {{{threadMembers}}}
        </ul>
    </section>

    {{{ButtonLeaveThread}}}

    {{!-- {{> modalConfirm }} --}}
    </article>
  </section>
