<article class="registrationPage_container bigLogoLayout_container">

  <header class="bigLogoLayout_logo_container">
    {{{ logo }}}
  </header>

  <section class="bigLogoLayout_content_container">
    <h1 class="heading">Registration</h1>
    {{{form}}}
  </section>

</article>
