{{#> body }}
<div class="registrationPage_container bigLogoLayout_container">

  <div class="bigLogoLayout_logo_container">
    {{> logo }}
  </div>

  <div class="bigLogoLayout_content_container">
    <h1 class="heading">Registration</h1>
    <form action="">
      <section class="registration_inputs registration_inputs__first">
        {{>inputText class="inputText_login" label="Login" type="text" name="login" placeholder="Login" vertical=true value="wrong login"}}
        {{>inputText_email__vertical}}
        {{>inputText_phone__vertical}}
        {{>button buttonClass="button__next" buttonText="Next" }}
      </section>

      <section class="registration_inputs registration_inputs__last hidden">
        {{>inputText_firstName__vertical}}
        {{>inputText_secondName__vertical}}
        {{>inputText_password__vertical}}
        {{>button buttonClass="button__signup" buttonText="Sign up" }}
      </section>
    </form>
  </div>

</div>
{{/body}}
