@use "/components/styles/modules/bigLogoLayout";

.bigLogoLayout_content_container .heading {
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 5rem;
  width: 100%;
  text-align: center;
}

.form_inputsContainer {
  max-height: 50vh;
  overflow-y: auto;
  margin-bottom: 3em;
}

.form_inputsContainer,
.form_buttonsContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.form_registration {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  /* max-height: 80vh; */

  overflow: auto;

  /* .form_registration {
  padding-top: 5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh; */

  .heading {
    font-weight: normal;
    font-size: 1.5rem;
    margin-bottom: 5rem;
    width: 100%;
    text-align: center;
  }

  .input {
    margin-bottom: 2rem;
    min-width: 20rem;
  }

  /*   .input_password {
    margin-bottom: 5rem;
  } */

  .button {
    min-width: 16.25rem;
    padding: 5px 3rem;
    margin: 0 auto;
  }

  .button_signup {
    margin-bottom: 2rem;
  }
}
