<div class="bigLogoLayout_container">
  <header class="bigLogoLayout_logo_container">
    {{{ Logo }}}
  </header>

  <section class="bigLogoLayout_content_container">
    {{{ content }}}
  </section>
</div>
