.threadMember {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 3rem;
  padding: 0.6rem 0.3rem;

  .memberLogoUsername {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    align-items: center;
    cursor: pointer;
  }

  .avatar {
    margin-right: 1em;
    aspect-ratio: 1;
    height: 2rem;
    width: min-content;
  }

  .threadMember_login {
    margin-right: auto;
  }

  .iconButton_icon {
    height: 1rem;
    width: auto;
  }
}
