@use "@/components/styles/modules/variables";
@use "@/components/styles/modules/leftPanelLayout";

.threadsPage_container {
  .rightPanel_container {
    .topBar {
      width: 100%;
    }
  }

  .rightPanel_content {
    position: relative;
    height: 100%;
  }

  .messages_container {
    overflow-y: auto;
    height: calc(100vh - 4rem - 5rem);
  }

  .messages {
    display: flex;
    flex-flow: column nowrap;
    justify-content: end;
    min-height: 100%;
  }

  .message_content {
    word-wrap: break-word;
  }

  .sendBar {
    // position: absolute;
    bottom: 0;
    max-width: 40rem;
    padding: 0 1rem;
    margin: 1rem auto 2rem;
  }

  .avatar_thread {
    height: 2rem;
    width: auto;
    margin-right: 1rem;
  }

  .leftPanel_container {
    display: none;
  }

  .input_message {
    width: 100%;
    margin: auto 3em;
  }

  .emptyThreadMessage {
    text-align: center;
    margin-bottom: 35vh;
  }

  @media screen and (min-width: variables.$desktopThreshold) {
    .button_startThread {
      left: calc(variables.$leftPanel_desktopWidth / 2 - 15rem / 2);
    }

    .leftPanel_container {
      display: flex;
    }

    .messages_container {
      max-width: 35rem;
      margin: auto;
    }

    /*     .sendBar {
      max-width: 45rem;
      left: calc(50vw - variables.$leftPanel_desktopWidth / 2 - 50rem / 2);
    } */
  }
}
