<article class="bigLogoLayout_container">
  <header class="bigLogoLayout_logo_container">
    {{{Logo}}}
  </header>

  <section class="errorPage_message bigLogoLayout_content_container">
    <h1 class="errorPage_message_header">{{errorCode}}</h1>

    <p class="errorPage_message_description">{{errorMessage}}</p>

    {{{ButtonErrorBack}}}
  </section>
</article>
