@use "/components/styles/modules/bigLogoLayout";

.errorPage_message {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  & > .errorPage_message_header {
    margin-bottom: 2rem;
  }
  & > .errorPage_message_description {
    margin-bottom: 4rem;
  }
}

.bigLogoLayout_logo_container {
  display: none;
}

.errorPage_message_header {
  font-size: 4rem;
}

.errorPage_message_description {
  font-size: 1rem;
}
