{{#> body }}
<article class="bigLogoLayout_container">

  <header class="bigLogoLayout_logo_container">
    {{> logo }}
  </header>

  <section class="errorPage_message bigLogoLayout_content_container">
    <h1 class="errorPage_message_header">{{errorCode}}</h1>

    <p class="errorPage_message_description">{{errorMessage}}</p>

    {{> button buttonClass="button errorPage_message_button" }}
  </section>

</article>
{{/ body }}
