@use "@/components/styles/modules/colors";

// @import "https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap";

:root {
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 1rem;
  cursor: default;
}

input {
  cursor: initial;
}

button > * {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
  padding: 0;
}

.page,
#app {
  // font-family: "Open Sans", sans-serif;
  font-family: sans-serif;
  background-color: colors.$pureWhite;
  color: colors.$darkGrey;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hidden {
  display: none !important;
}
