<nav class="topBar">
  {{#if backButton }}
    {{> iconButton_back }}
  {{/if}}


  {{> @partial-block }}

  {{#if contextButton }}
    {{> iconButton_context_horizontal }}
  {{/if}}

  {{#if passwordChangeButton }}
    {{> iconButton_password }}
  {{/if}}

  {{#if editButton }}
    {{> iconButton_edit }}
  {{/if}}

  {{#if exitButton }}
    {{> iconButton_exit }}
  {{/if}}
</nav>
