@use "/components/styles/modules/colors";

.modal_container {
  position: fixed;
  inset: 0;
  background-color: colors.$whiteLightTransparent;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  text-align: center;

  .hidden {
    display: none;
  }

  .modal {
    border-style: solid;
    border-color: colors.$pureBlack;
    border-width: 1px 3px 3px 1px;
    background-color: colors.$pureWhite;
    text-align: center;
  }

  .modal_message {
    font-weight: 700;
    padding: 0 1rem;
    margin-bottom: 3rem;
    word-wrap: break-word;
  }

  .modal_button {
    margin: 0 auto 2rem;
    display: block;
    width: 15rem;
  }

  .modal_close {
    position: relative;
    padding: 1rem;
    text-align: right;
    margin-bottom: 3.125rem;

    .iconButton_icon {
      height: 1rem;
      width: auto;
    }
  }
}
